.hamburger:hover .top{
    transform: translateY(15px) rotateZ(45deg);
    color:red;
}

.hamburger:hover .bottom{
    transform: translateY(-15px) rotateZ(-45deg);
color:red;
}
.hamburger:hover .middle{
    width:0;
    
}
.bar{
    height:5px;
    width:35px;
    background:#fff;
    margin: 10px auto;;;
    box-shadow:0px 5px 50px 5px green;
}
.hamburger{
    
    width:60px;
    height:60px;
    cursor: pointer;
    
}
.mar{
    border:60px solid; 
    background-color: #2c9dbf;
    margin:0;
padding:0px;

}



  
    
