.top2{
 height:35px;width:120px;   
                                      
}
.top3{
    margin-left:500px;
    height:50px;
    width:75px;
}
.top4{
    height:50px;
    width:75px;
    margin-left:200px;
}
.top5{
    height:50px;
    width:75px;
    margin-left:200px;
}
.top7{
    height:25px;
    width:75px;
    margin-left:500px;

}
.top8{
    height:25px;
    width:75px;
}